<header>
  <div class="container header-group">
    <%= link_to image_tag("logo.png", class: "rogo"), root_path%>
    <div class="menu-box">
      <span class="list-bar"></span>
      <span class="list-bar"></span>
      <span class="list-bar"></span>
    </div>
    <nav>
      <ul class="nav">
        <li class="nav-list">
          <%= link_to "portfolio", {anchor: "portfolio"}, class: "portfolio" %>
        </li>
        <li class="nav-list">
          <%= link_to "feature", {anchor: "feature"}, class: "feature" %>
        </li>
        <li class="nav-list">
          <%= link_to "profile", {anchor: "profile"}, class: "profile" %>
        </li>
        <li class="nav-list">
          <%= link_to "contact", {anchor: "contact"}, class: "contact" %>
        </li>
      </ul>
    </nav>
  </div>
</header>