<header>
  <div class="container header-group">
    <%= link_to image_tag("logo.png", class: "rogo"), root_path%>
    <div class="menu-box">
      <span class="list-bar"></span>
      <span class="list-bar"></span>
      <span class="list-bar"></span>
    </div>
    <nav>
      <ul class="nav">
        <li class="nav-list">
          <%= link_to "Portfolio", homes_portfolio_path%>
        </li>
        <li class="nav-list">
          <%= link_to "Feature", homes_feature_path%>
        </li>
        <li class="nav-list">
          <%= link_to "Profile", homes_profile_path%>
        </li>
        <li class="nav-list">
          <%= link_to "Contact", homes_contact_path%>
        </li>
      </ul>
    </nav>
  </div>
</header>