<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= link_to image_tag("logo.png", class: "rogo"), root_path%>
    <button class="navbar-toggler mx-5" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Portfolio", homes_portfolio_path, class: "btn btn-outline-secondary mx-3 my-1"%>
        </li>
        <li class="nav-item">
          <%= link_to "Feature", homes_feature_path, class: "btn btn-outline-secondary mx-3 my-1"%>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", homes_profile_path, class: "btn btn-outline-secondary mx-3 my-1"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", homes_contact_path, class: "btn btn-outline-secondary mx-3 my-1"%>
        </li>
      </ul>
    </div>
  </nav>
</header>