<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "layouts/header"%>
      <%= render "homes/mv"%>
      <%= render "homes/portfolio"%>
      <%= render "homes/feature"%>
      <%= render "homes/profile"%>
      <%= render "homes/contact"%>
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
  </body>
</html>
